.container {
  display: flex;
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 195vh;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2px;
  padding: 2px;
}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;
  align-self: center;
  
  
}
